{%extends 'basic.html'%}
{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    {%block title%}
    {{my_orders4.order_name}}
    {%endblock%}
    {%block content%}
    <!-- individual order of MATCH_DAY_COMBOS -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card mb-5 mt-5">
                    <div class="row">
                      <div class="col-5">
                        <img src="{% static 'kfcpage_images/4scb1.jpg' %}" class="card-img-top" alt="...">
                      </div>
                      <div class="col-5">
                        <div class="card-body">
                            <h2 class="card-title">{{my_orders4.order_name}}</h2>
                            <small class="card-text"><i class="fa-solid fa-caret-up"></i> {{my_orders4.order_item}}</small><br>
                            <small class="card-text">{{my_orders4.order_quantity}}</small><br>
                            <b class="card-text">&#8377; {{my_orders4.order_price}}</b><br>
                            <p class="card-text">{{my_orders4.order_details}}</p><br>
                            <a href="#" class="btn btn-danger">Add to cart <i class="fa-solid fa-cart-shopping"></i></a><br>
                            <a href="/menu">menu</a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    {%endblock%}
</body>
</html>